UnitTestProject1/Service References/ProductoWSC/Producto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFFLORES.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFFLORES.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="codigobarra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProducto" nillable="true" type="tns:EProducto" />
</xs:schema>