UnitTestProject1/Service References/ProductoWSC/Producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24832/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" />
  <xs:element name="ObtenerProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigobarra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="ObtenerProductoResult" nillable="true" type="q1:EProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="productos" nillable="true" type="q2:EProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="CrearProductoResult" nillable="true" type="q3:EProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="productos" nillable="true" type="q4:EProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="ModificarProductoResult" nillable="true" type="q5:EProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" minOccurs="0" name="ListarProductoResult" nillable="true" type="q6:ArrayOfEProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>